#root {

}

.base-bubble-overflow {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body {
 font-family: 'Cardo', serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
}